* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
    margin-top: 10px;
}

/* Notification */
.success,
.error {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}